// Colors
$color-primary: #A0522D;
$color-primary-light: #A96342;
$color-primary-dark: #904928;

$color-secondary: #3e2da0;
$color-secondary-light: #5142a9;
$color-secondary-dark: #372890;

$color-warning: #ff7730;

$color-tertiary: #2da04e;
$color-tertiary-light: #42a95f;
$color-tertiary-dark: #289046;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #d5d5d5;
$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

//Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 140rem;
$gutter-vertical: 2rem;
$gutter-vertical-small: 2rem; 
$gutter-horizontal: 8rem;

// border
$default-border-radius: .3rem;